<div class="search-wrapper">
    <div class="search-page">
        <h1>Search</h1>
    </div>
    <form class="form-group" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
        <div class="input-wrapper">
            <mat-form-field style="min-width: 300px;">
                <input matInput type="text" class="search-text" formControlName="query" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let option of dropdown" [value]="option">
                            {{option.text}}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
            <input type="submit" class="input-text" value="">
        </div>
    </form>
</div>

<div class="results-wrapper">
    <mat-card *ngFor="let text of searchResults" [routerLink]="['/text']" [queryParams]="{id: text.id}">
        <mat-card-title>Text #{{text.id}}</mat-card-title>
        {{text.text}}
    </mat-card>
</div>
